<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pharmacie" href="/tabs/pharmacie">
      <ion-icon  name="medkit-outline"></ion-icon>
      <ion-label>Pharmacie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="marque" href="/tabs/marque">
      <ion-icon  name="list-outline"></ion-icon>
      <ion-label>Articles</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gift" href="/tabs/gift">
      <ion-icon  name="gift-outline"></ion-icon>
      <ion-label>Gift</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" href="/tabs/cart">
      <ion-icon  name="cart-outline"></ion-icon>
      <ion-label>Panier</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="commande-pharmacie" href="/tabs/commande-pharmacie">
      <ion-icon  name="calendar-outline"></ion-icon>
      <ion-label>Journée</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>