<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <img src="../../assets/logo_NOVOPHARMA_H-1-mini.png" width="64" alt="Logo Novopharma" />
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="filter" aria-label="Favoris">
        <ion-icon name="home-outline" routerLink="/tabs/pharmacie" color="primary" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-fact></app-fact>

</ion-content>